html,
body {
  width: 100%;
  padding: 5px;
}

.main {
  padding: 25px;
  margin: auto;
}

.list-group h5 {
  font-weight: bold;
}

.content {
  padding: 20px;
}


.container-fluid {
  overflow: hidden;
}

#primary-nav {
  background-color: skyblue;
}
