html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;

}

/* .main {
  padding: 25px;
  margin: auto;
} */

.list-group h5 {
  font-weight: bold;
}

.login {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content {
  padding: 20px;
}


.container-fluid {
  overflow: hidden;
}

#primary-nav {
  background-color: skyblue;
}
